/* body{
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	font-family: 'Roboto';
	font-size: 4rem;
} */
		


#top-header{
	display: flex;
	flex-wrap: wrap;

	
}

#welcome{
    text-align: center;
}


#logo{
	display: flex;
	flex: 1 1 25%;
    /* align-self: flex-start; */
	height: 120px;
    width: 30vw;
}

#logo img{
    float: left;
    padding: 0px 0px;
}

/* nevigation bar */

#menu ul{
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	background: #3679a2;
	
	
}

#menu li {

	/* flex: 1 1 20%; */
	align-content: center;
	
	
}
	
	
#menu li a {
	/* display: inline-block; */
	padding: 0em 1em;
	margin: 0 0.5em ;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 90px;
	color: rgb(233, 237, 241);
	
}
	
	
#menu li:hover {
	
	font-size: large;
	background: rgb(110, 210, 238);
	color: #373737;
	text-decoration: none;
}

#header-image-menu{
    top: 2px;
    position: relative;
}

#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}


/* 
#image-text{
    position: relative;
	font-size: 3rem;
    top: 10%;
    left: 20%;
    font-family: sans-serif;
    color: rgba(114, 234, 255, 0.821);
    text-align: center;
    transform: translate(-30%,-30%);
}

#image-subtext{
	
	width: 25%;
	position: relative;
	font-size: 1rem;
	line-height: 1.5em;
    top: 45%;
    left: 20%;
    font-family: Geneva,;
	font-style: italic;
    color: rgb(186, 255, 126);
    text-align: center;
    transform: translate(-30%,-30%);
} */


#welcome{
    overflow: hidden;
	margin: 50px 50px;
    /* margin: 0 auto; */
}

#welcome .title{
	font-size: 2rem;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

#welcome p{
	line-height: 30px;
	margin-bottom: 40px;
	padding: 0 10px;
	text-align: center;
}


#section2{
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-top: 5em;
	padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
} 

.row #column1,
.row #column2,
.row #column3{
	float: left;
	width: 300px;
	/* border: 1px solid #05d4d0;
	border-radius: 5px; */
	padding: 80px 40px 80px 40px;
}

.column-title h2{
	margin: 1em 0em;
	font-size: 1.6em;
	font-weight: 700;
	font-family: 'ROBOTO';
}

.button {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	background-color: aquamarine;
	padding:  16px 32px;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px solid #07b5b2;
	
}

.button:hover {
	background-color: #08c5c1;
	color: #373737;
	border: 1px solid #2bc8d9;
}


#section3{
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-top: 5em;
	padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;

}
.row {
	justify-content: center;
}


.row #column21,
.row #column22,
.row #column23,
.row #column24{
	float: left;
	width: 210px;
	/* border: 1px solid #033c3b;
	border-radius: 5px; */
	padding: 80px 40px 80px 40px;
	text-align: center;
}

.image-cap{
	display: block;
	padding-bottom: 1em ;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
}

.col-images{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;

	display: block;
    width: 100%;

    margin: 0 0 3em 0;
}
     

/* Footer CSS */

#footer {
	background-color: #07b5b2;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
	text-align: center;
}

.footer-row{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.company-details{

	border-top: 20px solid rgba(86, 127, 204, 0.163);
	background-color: #71aaff;
	text-align: center;
	
}


.footer-row #col1,
.footer-row #col2,
.footer-row #col3{
	float: left;
	width: 300px;
	border-radius: 5px;
	padding: 40px 20px 40px 20px;
	text-align: center;
	
}

.footer-row #icon{
	display: block;
	margin-bottom: 1em;
	font-size: 1.5em;
}


.copyright
{
	overflow: hidden;
	/* padding: 2em 0em; */
	border-top: 20px solid rgba(91, 86, 86, 0.08);
	text-align: center;
	background: #4CAF50;
}

.copyright p
{
	padding-top: 20px;
	letter-spacing: 1px;
    font-size: 0.90em;
    color: rgba(255, 255, 255, 0.6);
}
     
.copyright a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}






.contact{
    margin: 0;
    padding: 2em 0em 3em 0em;
    list-style: none;
}
     
.contact li{
    display: inline-block;
    padding: 0em 0.10em;
    font-size: 1em;
}
 
.contact li a{
    color: #FFF;
	display: inline-block;
    background: #086fa6;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.contact li a:hover {
	background: #023a59;
}

#devname {

	background-color: black; 
	color: white;
	

}


/*
#devname img {

	height: 34px;
    text-decoration: none; 
    width: auto;
    align-items: center; 
    align-self: center; 
   position: relative;
    
}

*/