

::-webkit-scrollbar {
    width: 4px;
};

::-webkit-scrollbar-track {
    background-color:transparent;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background:transparent;
    border-radius: 5px;
}
  
  